<% content_for :header do %>
  <%= render "layouts/breadcrumb", breadcrumb: {
    "ユーザ一覧": users_path,
    "#{@user.username}": user_path(@user)
  } %>
<% end %>

<% if user_signed_in? && current_user.id == @user.id %>
  <%= button_to "ポートフォリオをPDFで出力", user_path(@user, format: "pdf"), { params: {html: "aa"}, id: "pdf", class: "btn btn-block btn-primary"} %>
<% end %>

<div class="myPortfolio">
  <% @user.projects.each do |project| %>
    <%= render "project", project: project %>
  <% end %>
</div>

<div class="myFavorite responsive">
  <h2 class="text-center"><%= @user.username %>のいいね！したポートフォリオ</h2>
  <table class="table">
    <thead>
      <tr>
        <th width="320">イメージ</th>
        <th>タイトル</th>
        <th>概要</th>
      </tr>
    </thead>

    <tbody>
      <% @favo.each do |p| %>
        <tr>
          <th><%= lazy_image_tag p.project.image %></th>
          <th><%= p.project.title %></th>
          <th><%= p.project.description %></th>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>