<h2 class="text-center">ポートフォリオ一覧</h2>

<div class="row" style="width: 100%;margin:0 auto">
  <div class="projectsList">
    <% @projects.each do |project| %>
      <% height = (project.youtube) ? 180 : 300 %>

      <div class="project" style="height: <%= height+40 %>px"> 
        <img src="<%= project.image %>" class="projectImage" width="320" height="<%= height %>">
        <div class="mask" style="height: <%= height %>px">
          <h2><%= project.title %></h2>
          <p><%= truncate project.description %></p>
          <p>
            <% project.tag_list.each do |tag| %>
              <a href="tag/<%= tag %>">
                <span class="label label-primary" style="padding: 5px">#<%= tag %></span>
              </a>
            <% end %>
          </p>
          <%= link_to "More", project_path(project), class: "btn btn-raised btn-success moreLink" %>
          <span class="created_at"><%= project.created_at.strftime("%Y.%m.%d") %></span>
          <div class="link">
            <i class="material-icons link" >link</i>
            <a href="<%= project.url %>" class="thisLink"><%= project.url %></a>
          </div>
        </div>

        <div class="panel panel-info">
          <div class="pull-left">
            <span class="views"><%= project.view %> views</span>
          </div>
        </div>

      </div>
    <% end %>
  </div>

  <div class="clearfix col-sm-12 text-center">
    <%= paginate(@projects) %>
  </div>

</div>
